@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
.e-crypta header {
  background: #fff; }
  .e-crypta header .navbar-default {
    border: none; }
  .e-crypta header h1 {
    font-size: 32px; }
.e-crypta .head-container {
  margin-top: 7px !important;
  width: 1100px;
  margin: 0 auto; }
  @media screen and (max-width: 1100px) {
    .e-crypta .head-container {
      width: 100%; } }
.e-crypta .two-right-side-app {
  padding-top: 45px !important; }
.e-crypta .brand-name-last {
  color: #393939 !important;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -4.17px; }
.e-crypta .brand-name-first {
  color: #3bcd78 !important;
  letter-spacing: -3.4px;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase; }
.e-crypta .brand-name-second {
  color: #565757;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  padding-left: 1px;
  padding-top: 1px; }
.e-crypta .my-bar-nav {
  margin-bottom: 10px; }
.e-crypta .brand-name-com {
  color: #f7d51a;
  font-family: "Open Sans";
  font-size: 44px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -3.4px; }
.e-crypta .my-nav-link {
  display: flex;
  flex-direction: row;
  margin-right: 0 !important; }
  @media screen and (max-width: 767px) {
    .e-crypta .my-nav-link {
      flex-direction: column; } }
  .e-crypta .my-nav-link ul li a:hover {
    color: #f7d51a !important; }
  .e-crypta .my-nav-link a {
    color: #393939;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    padding-right: 20px; }
    .e-crypta .my-nav-link a:hover {
      color: #f7d51a !important; }
  .e-crypta .my-nav-link:hover {
    color: #f7d51a; }
.e-crypta .all-bg {
  background: #dee7f3;
  padding: 25px 0 50px; }
.e-crypta .button-operator-top {
  color: #333;
  background-color: #fff;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 31px;
  border: 3px solid #f7d51a; }
  .e-crypta .button-operator-top:hover {
    background: #f7d51a !important;
    border: 3px solid #f7d51a !important; }
  .e-crypta .button-operator-top span {
    color: #393939;
    font-size: 16px;
    font-weight: 700; }
  .e-crypta .button-operator-top i,
  .e-crypta .button-operator-top img,
  .e-crypta .button-operator-top svg {
    color: #393939;
    font-size: 24px !important;
    margin-left: 5%; }
.e-crypta .button-operator-bt {
  color: #333;
  background-color: #fff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 31px;
  border: 3px solid #f7d51a; }
  .e-crypta .button-operator-bt:hover {
    background: #f7d51a !important;
    border: 3px solid #f7d51a !important; }
  .e-crypta .button-operator-bt span {
    color: #393939;
    font-size: 16px;
    font-weight: 700; }
  .e-crypta .button-operator-bt i,
  .e-crypta .button-operator-bt img,
  .e-crypta .button-operator-bt svg {
    color: #393939;
    font-size: 24px !important;
    margin-left: 5%; }
.e-crypta .navigation-link-top ul li a {
  color: #393939; }
  .e-crypta .navigation-link-top ul li a:hover {
    color: #f7d51a !important; }
.e-crypta .navbar-default .navbar-nav > li > a {
  color: #393939; }
.e-crypta .collapse-container-top {
  padding-right: 0 !important;
  margin-right: 0 !important; }
  .e-crypta .collapse-container-top .fa-key, .e-crypta .collapse-container-top .fa-user-plus {
    color: #f7d51a !important; }
.e-crypta .head-container .collapse-container-top {
  display: flex !important;
  justify-content: space-between;
  align-items: center; }
  .e-crypta .head-container .collapse-container-top a {
    color: #393939; }
.e-crypta .my-city-select a {
  min-height: 35px;
  display: flex;
  align-items: center; }
.e-crypta .bootstrap-select.btn-group .dropdown-menu li a {
  min-height: 35px;
  display: flex;
  align-items: center; }
.e-crypta .my-price-table {
  margin-bottom: 0; }
  .e-crypta .my-price-table thead tr th {
    border: none;
    text-align: center;
    color: #393939;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700; }
  .e-crypta .my-price-table tbody tr td {
    border-color: #f7d51a !important;
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans";
    text-transform: uppercase; }
    .e-crypta .my-price-table tbody tr td span {
      color: #f7d51a; }
  .e-crypta .my-price-table tbody .tb-first-child {
    border-right: 1px solid #f7d51a; }
  .e-crypta .my-price-table .tb-last-child {
    border-left: 1px solid #f7d51a; }
.e-crypta .first-td-bt-table {
  border-left: none !important; }
.e-crypta .btn-support-start {
  text-align: center;
  display: flex;
  justify-content: center; }
.e-crypta .head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1130px) {
    .e-crypta .head-container {
      padding: 0 5%; } }
  @media screen and (max-width: 900px) {
    .e-crypta .head-container {
      flex-direction: column; } }
.e-crypta .container-logo {
  display: flex;
  flex-direction: column; }
.e-crypta .litle-txt-logo {
  text-align: left; }
  .e-crypta .litle-txt-logo p {
    padding: 0;
    margin: 0;
    color: #565757;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400; }
.e-crypta .container-content {
  background: #000;
  box-shadow: 0 0 24px rgba(0, 102, 255, 0.26);
  background-color: #ffffff;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  @media screen and (max-width: 1152px) {
    .e-crypta .container-content {
      width: 100%;
      flex-direction: column; } }
  .e-crypta .container-content h2 {
    color: #393939;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 27px;
    text-align: center; }
.e-crypta .btn-status-application {
  width: 405px; }
  @media screen and (max-width: 405px) {
    .e-crypta .btn-status-application {
      width: 100%;
      max-width: 405px; } }
.e-crypta .left-side {
  width: 50%;
  position: relative;
  padding-top: 25px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .left-side {
      width: 100%; } }
  @media screen and (max-width: 415px) {
    .e-crypta .left-side {
      width: 85%;
      margin: 0 auto; } }
.e-crypta .right-side {
  width: 50%;
  text-align: center;
  padding-top: 25px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .right-side {
      width: 100%; } }
.e-crypta .nol-txt {
  color: #3bcd78 !important; }
.e-crypta .bit-txt {
  color: #fbb314 !important; }
.e-crypta .city-txt {
  font-size: 18px; }
@media screen and (max-width: 415px) {
  .e-crypta .all-cont-mobile {
    width: 85% !important;
    margin: 0 auto; } }
.e-crypta .container-side-left {
  width: 405px;
  margin: 0 auto; }
  @media screen and (max-width: 415px) {
    .e-crypta .container-side-left {
      width: 100% !important; } }
  .e-crypta .container-side-left .bt-inputs-left {
    max-width: 405px; }
.e-crypta .all-cost-wide {
  padding-left: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-cost-wide {
      padding-left: 0; } }
  .e-crypta .all-cost-wide a {
    border: 2px solid #393939;
    text-align: center;
    border-radius: 35px;
    min-width: 40px;
    line-height: 35px;
    color: #565757;
    font-size: 26px;
    font-weight: 400; }
    .e-crypta .all-cost-wide a:hover {
      color: #dddddd !important;
      border-color: #dddddd !important; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-cost-wide {
      width: 50%; } }
  @media screen and (max-width: 415px) {
    .e-crypta .all-cost-wide {
      display: none; } }
@media screen and (max-width: 415px) {
  .e-crypta .btc-all-cost {
    display: none; } }
@media screen and (max-width: 415px) {
  .e-crypta .all-mobile-traide-ico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px; } }
@media screen and (min-width: 416px) {
  .e-crypta .all-mobile-traide-ico {
    display: none; } }
@media screen and (max-width: 415px) {
  .e-crypta .all-cost-narrow {
    display: flex;
    flex-direction: row; } }
.e-crypta .all-cost-narrow a {
  text-decoration: none;
  color: #dddddd !important;
  border-color: #dddddd !important; }
.e-crypta .all-cost-narrow .grn-coin, .e-crypta .all-cost-narrow .euro-coin, .e-crypta .all-cost-narrow .usd-coin {
  border: 2px solid #393939;
  height: 40px;
  border-radius: 40px;
  width: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #393939;
  cursor: pointer; }
  .e-crypta .all-cost-narrow .grn-coin:hover, .e-crypta .all-cost-narrow .euro-coin:hover, .e-crypta .all-cost-narrow .usd-coin:hover {
    text-decoration: none !important;
    color: #dddddd !important;
    border-color: #dddddd !important; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-cost-narrow .grn-coin, .e-crypta .all-cost-narrow .euro-coin, .e-crypta .all-cost-narrow .usd-coin {
      margin: 0 10px; } }
@media screen and (max-width: 415px) {
  .e-crypta .all-to-btc {
    margin: 0 10px; } }
.e-crypta .all-to-btc a:hover {
  text-decoration: none;
  color: #dddddd !important;
  border-color: #dddddd !important; }
.e-crypta .to-btc-href {
  border: 2px solid #393939;
  height: 40px;
  border-radius: 40px;
  width: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #393939; }
.e-crypta .transfer-horiz {
  margin-top: 5px; }
.e-crypta .transfer-btn-transform {
  background: url(../img/transfer-black.png) no-repeat;
  width: 50px;
  height: 50px; }
  @media screen and (max-width: 415px) {
    .e-crypta .transfer-btn-transform {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); } }
  .e-crypta .transfer-btn-transform:hover {
    background: url(../img/transfer-last.png) no-repeat; }
.e-crypta .btc-cost {
  cursor: pointer; }
  @media screen and (max-width: 415px) {
    .e-crypta .btc-cost {
      display: none; } }
  .e-crypta .btc-cost:hover {
    border: none !important;
    outline: none !important; }
  .e-crypta .btc-cost:focus {
    border: none !important;
    outline: none !important; }
.e-crypta .side-band {
  background-color: #f6f6f6;
  height: auto;
  width: 4px; }
.e-crypta .txt-next-operator {
  padding-bottom: 30px; }
  .e-crypta .txt-next-operator p {
    padding: 20px 0;
    color: #d3d3d3;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400; }
    .e-crypta .txt-next-operator p a {
      color: #d3d3d3;
      text-decoration: underline; }
      .e-crypta .txt-next-operator p a:hover {
        color: #f7d51a;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 400;
        text-decoration: underline; }
.e-crypta .my-dropdown-menu-right {
  width: 250px; }
.e-crypta .my-wide-dropdown-menu-right {
  width: 405px;
  border-radius: 0;
  border: 2px solid #393939;
  margin-right: -5px; }
.e-crypta .all-speed-enlistment {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .e-crypta .all-speed-enlistment .input-group {
    position: relative; }
  .e-crypta .all-speed-enlistment .input-group-btn {
    position: initial; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-speed-enlistment {
      flex-direction: column-reverse; } }
  .e-crypta .all-speed-enlistment .input-group {
    border-radius: 0;
    width: 250px;
    height: 52px;
    border: 2px solid #ebebeb;
    opacity: 0.8;
    z-index: 9999; }
    @media screen and (max-width: 415px) {
      .e-crypta .all-speed-enlistment .input-group {
        width: 100%; } }
    .e-crypta .all-speed-enlistment .input-group input {
      height: 100%;
      border: none; }
    .e-crypta .all-speed-enlistment .input-group .input-group-btn button {
      height: 100%;
      border: none; }
    @media screen and (max-width: 250px) {
      .e-crypta .all-speed-enlistment .input-group {
        width: 100%; } }
.e-crypta .speed-transfer {
  justify-content: flex-start !important; }
.e-crypta .speed-enlistment-bt .input-group {
  width: 400px; }
.e-crypta .active-one-select-side {
  border: 2px solid #393939; }
.e-crypta .active-two-select-side {
  border: 2px solid #ebebeb;
  opacity: 0.8; }
@media screen and (max-width: 415px) {
  .e-crypta .my-btp-select {
    width: 100% !important; } }
.e-crypta .my-btp-select button {
  width: 250px;
  border-radius: 0;
  height: 52px;
  border: 2px solid #ececec; }
  @media screen and (max-width: 415px) {
    .e-crypta .my-btp-select button {
      width: 100% !important; } }
  @media screen and (max-width: 250px) {
    .e-crypta .my-btp-select button {
      width: 100% !important; } }
  .e-crypta .my-btp-select button:active {
    border: 2px solid #393939; }
  .e-crypta .my-btp-select button:focus {
    border: 2px solid #393939; }
.e-crypta .my-btp-select .dropdown-menu {
  width: 250px !important;
  border-radius: 0; }
.e-crypta .my-city-select {
  width: 100% !important; }
  .e-crypta .my-city-select button {
    width: 406px;
    border-radius: 0;
    height: 52px;
    border: 2px solid #ececec; }
    @media screen and (max-width: 415px) {
      .e-crypta .my-city-select button {
        width: 100% !important; } }
  .e-crypta .my-city-select .dropdown-menu {
    width: 400px !important;
    border-radius: 0; }
.e-crypta .bootstrap-select > select {
  left: 0; }
.e-crypta .captcha-privacy img {
  max-width: 300px; }
  @media screen and (max-width: 415px) {
    .e-crypta .captcha-privacy img {
      width: 100% !important; } }
  @media screen and (max-width: 300px) {
    .e-crypta .captcha-privacy img {
      width: 100%; } }
.e-crypta .my-dropdown-toggle {
  min-width: 50px; }
.e-crypta .requisites-txt-left {
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400; }
.e-crypta .txt-info-btc {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 25px; }
.e-crypta .min-coin-info,
.e-crypta .reserve-coin-info {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }
.e-crypta .cost-label {
  color: #393939;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0 10px; }
  @media screen and (max-width: 415px) {
    .e-crypta .cost-label {
      display: none; } }
.e-crypta .gr-txt-cost-info {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }
.e-crypta .all-cost-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-cost-number {
      flex-direction: column-reverse; } }
  .e-crypta .all-cost-number a:hover {
    text-decoration: none; }
.e-crypta .my-number-cost {
  border-radius: 0;
  width: 250px;
  height: 52px;
  border: 2px solid #ebebeb;
  opacity: 0.8;
  max-width: 250px;
  min-width: 250px; }
  .e-crypta .my-number-cost:focus {
    box-shadow: 0 0 16px 3px rgba(247, 213, 26, 0.31);
    border: 2px solid #393939; }
  @media screen and (max-width: 415px) {
    .e-crypta .my-number-cost {
      margin-top: 15px;
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 250px) {
    .e-crypta .my-number-cost {
      width: 100% !important; } }
.e-crypta .bottom-inputs-req {
  width: 100% !important;
  max-width: 100%;
  min-width: 0; }
.e-crypta .bt-inputs-left {
  margin-bottom: 5%;
  width: 415px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .bt-inputs-left {
      width: 100%;
      max-width: 405px; } }
.e-crypta .next-btn-txt {
  color: #d3d3d3;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400; }
.e-crypta .txt-btn-nxt {
  font-size: 13px;
  font-weight: 700;
  color: #d3d3d3; }
.e-crypta .btn-next-left-side {
  height: 65px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
  background-color: #3bcd78;
  width: 100%;
  border-radius: 0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }
  .e-crypta .btn-next-left-side:hover {
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17) !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    background-color: #3bcd78 !important;
    color: #fff; }
  .e-crypta .btn-next-left-side:active {
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    background-color: #3bcd78;
    color: #fff; }
  .e-crypta .btn-next-left-side:focus {
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    background-color: #3bcd78;
    color: #fff; }
  @media screen and (max-width: 1152px) {
    .e-crypta .btn-next-left-side {
      width: 95%; } }
  @media screen and (max-width: 415px) {
    .e-crypta .btn-next-left-side {
      width: 90%; } }
.e-crypta .top-txt-info-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .e-crypta .top-txt-info-side p {
    color: #393939;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700; }
.e-crypta .all-txt-right-info {
  border: 1px solid #f7d51a;
  max-width: 440px;
  margin: 5% auto 10%; }
.e-crypta .left-info-currency {
  text-align: left; }
  .e-crypta .left-info-currency p {
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
.e-crypta .txt-info-terms-use {
  margin: 0 auto;
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  margin-left: 20px; }
  .e-crypta .txt-info-terms-use p {
    padding-bottom: 5px;
    font-size: 14px; }
.e-crypta .all-cost-number span.active,
.e-crypta .all-cost-number span:hover {
  border: 2px solid #d1d8d8; }
.e-crypta .four-txt-exchanger,
.e-crypta .one-txt-exchanger,
.e-crypta .three-txt-exchanger,
.e-crypta .two-txt-exchanger {
  display: flex;
  flex-direction: row;
  padding: 1% 0%;
  line-height: 24px;
  max-width: 440px;
  margin: 0 auto; }
  @media screen and (max-width: 450px) {
    .e-crypta .four-txt-exchanger,
    .e-crypta .one-txt-exchanger,
    .e-crypta .three-txt-exchanger,
    .e-crypta .two-txt-exchanger {
      padding: 3% 2%; } }
  .e-crypta .four-txt-exchanger p,
  .e-crypta .one-txt-exchanger p,
  .e-crypta .three-txt-exchanger p,
  .e-crypta .two-txt-exchanger p {
    font-size: 14px;
    font-weight: 700;
    margin: 0; }
  .e-crypta .four-txt-exchanger span,
  .e-crypta .one-txt-exchanger span,
  .e-crypta .three-txt-exchanger span,
  .e-crypta .two-txt-exchanger span {
    padding-right: 5px; }
.e-crypta .right-info-currency {
  text-align: left; }
  .e-crypta .right-info-currency p {
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
.e-crypta .currency-type-txt {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f7d51a; }
.e-crypta .all-select-btp {
  display: flex;
  justify-content: flex-start; }
  @media screen and (max-width: 415px) {
    .e-crypta .all-select-btp {
      flex-direction: column; } }
  @media screen and (max-width: 415px) {
    .e-crypta .all-select-btp {
      display: none; } }
  @media screen and (max-width: 415px) {
    .e-crypta .all-select-btp a {
      display: flex;
      justify-content: center; } }
  .e-crypta .all-select-btp a .transfer-btn-all {
    cursor: pointer; }
    @media screen and (max-width: 415px) {
      .e-crypta .all-select-btp a .transfer-btn-all {
        margin-left: 0;
        margin-top: 10px; } }
.e-crypta .transfer-btn-all {
  background: url("../img/transfer-black.png") no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-top: 3px; }
  .e-crypta .transfer-btn-all:hover {
    background: url("../img/transfer-last.png") no-repeat; }
.e-crypta .transfer-btn-first {
  position: absolute;
  z-index: 10;
  top: 5%;
  width: 50px;
  height: 50px;
  background: url("../img/transfer-black.png") no-repeat; }
  .e-crypta .transfer-btn-first:hover {
    background: url("../img/transfer-last.png") no-repeat; }
.e-crypta .transfer-btn-last {
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 50px;
  height: 50px; }
@media screen and (max-width: 767px) {
  .e-crypta .all-footer-social {
    margin-bottom: 20px; } }
.e-crypta footer {
  background: #fff; }
.e-crypta .terms-use-txt {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 5%;
  text-align: center;
  padding-left: 40px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .terms-use-txt {
      padding-bottom: 0%; } }
.e-crypta .gr-txt-info-btc {
  color: #3bcd78;
  font-size: 12px;
  font-weight: 400; }
.e-crypta .first-left-txt {
  margin: 2% 0; }
.e-crypta .second-left-txt {
  margin: 2% 0; }
.e-crypta .four-btn-txt-info,
.e-crypta .one-btn-txt-info,
.e-crypta .three-btn-txt-info,
.e-crypta .two-btn-txt-info {
  padding-right: 10%; }
.e-crypta .bt-cost-bumber {
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start !important; }
  .e-crypta .bt-cost-bumber a {
    margin-left: 13px;
    border: 2px solid #393939;
    text-align: center;
    border-radius: 35px;
    min-width: 40px;
    line-height: 35px;
    color: #565757;
    font-size: 26px;
    font-weight: 400; }
    .e-crypta .bt-cost-bumber a:hover {
      color: #dddddd !important;
      border-color: #dddddd !important; }
    @media screen and (max-width: 415px) {
      .e-crypta .bt-cost-bumber a {
        margin-left: 0; } }
.e-crypta .all-txt-info-btc {
  display: flex;
  flex-direction: row; }
  .e-crypta .all-txt-info-btc p {
    font-size: 12px;
    font-weight: 400;
    color: #393939; }
.e-crypta .all-currency-side {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8%; }
.e-crypta .footer-container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  @media screen and (max-width: 1100px) {
    .e-crypta .footer-container {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .e-crypta .footer-container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 30px 0;
      justify-content: center; } }
.e-crypta .my-top-bar {
  margin-top: -10px; }
  .e-crypta .my-top-bar a {
    display: flex;
    flex-direction: row; }
    .e-crypta .my-top-bar a:hover {
      text-decoration: none; }
    .e-crypta .my-top-bar a:focus {
      text-decoration: none !important; }
  .e-crypta .my-top-bar h1 {
    margin-bottom: 0; }
    @media screen and (max-width: 380px) {
      .e-crypta .my-top-bar h1 {
        font-size: 34px; } }
.e-crypta .issues-side-right h4 {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  padding-top: 60px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .issues-side-right h4 {
      padding-top: 30px; } }
.e-crypta .issues-side-right p {
  color: #393939;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  padding: 25px 0; }
  .e-crypta .issues-side-right p a {
    color: #f7d51a;
    font-size: 18px;
    font-weight: 700; }
    .e-crypta .issues-side-right p a:hover {
      color: #393939; }
@media screen and (max-width: 250px) {
  .e-crypta .all-btn-inp input {
    width: 100% !important;
    min-width: 0px !important;
    max-width: 100% !important; } }
.e-crypta .mail-footer {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }
  @media screen and (max-width: 767px) {
    .e-crypta .mail-footer {
      text-align: center; } }
.e-crypta .footer-rates,
.e-crypta .footer-regulations {
  color: #393939;
  font-size: 12px;
  font-weight: 800; }
  .e-crypta .footer-rates a,
  .e-crypta .footer-regulations a {
    color: #393939;
    font-size: 12px;
    font-weight: 800; }
    .e-crypta .footer-rates a:hover,
    .e-crypta .footer-regulations a:hover {
      color: #f7d51a;
      font-size: 12px;
      font-weight: 800;
      text-decoration: none; }
.e-crypta .txt-footer-social {
  color: #393939;
  font-size: 12px;
  font-weight: 700; }
.e-crypta .all-icon-social-footer {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .e-crypta .all-icon-social-footer a {
    color: #393939;
    font-size: 18px;
    font-weight: 400; }
    .e-crypta .all-icon-social-footer a:hover {
      background: #f7d51a; }
.e-crypta .bd-social-footer-one {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 10px;
  margin: 0 5px;
  display: flex;
  align-items: center; }
.e-crypta .all-info-txt-btc {
  padding-bottom: 20px; }
  .e-crypta .all-info-txt-btc .min-sum-info {
    font-size: 12px;
    color: #393939;
    font-weight: 400;
    line-height: 16px; }
.e-crypta .bd-social-footer-two {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 10px 14px;
  min-width: 30px;
  margin: 0 5px;
  display: flex;
  align-items: center; }
.e-crypta .bd-social-footer-three {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 8px;
  margin: 0 5px;
  display: flex;
  align-items: center; }
.e-crypta .all-info-txt-btc {
  display: flex;
  flex-direction: row; }
  .e-crypta .all-info-txt-btc .min-max-info-btc {
    width: 40%; }
.e-crypta .main-sell .sell-revers {
  padding-left: 221px; }
.e-crypta .main-sell .bt-cost-bumber {
  padding-bottom: 10px; }
.e-crypta .main-sell .sell-lable {
  margin-top: 0; }
.e-crypta .my-price-table .tbody .tb-first-child {
  border-right: 1px solid #f7d51a;
  text-align: left; }
.e-crypta .main-sell .sell-revers {
  padding-left: 221px; }
.e-crypta .main-sell .sell-input {
  padding-bottom: 10px; }
.e-crypta .main-sell .sell-lable {
  margin-top: 0; }
.e-crypta .star-side {
  overflow: hidden;
  color: #ebebeb;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400; }
.e-crypta .first-dot {
  display: flex;
  justify-content: space-between;
  position: relative; }
.e-crypta .second-child-dot {
  position: absolute;
  z-index: 1; }
.e-crypta .first-child-dot,
.e-crypta .last-child-dot {
  background: #fff;
  z-index: 2; }
.e-crypta .img-status-block {
  margin-right: 25px; }
.e-crypta .status-block {
  background-color: #fff9d9;
  display: flex;
  align-items: center;
  padding: 20px;
  border-left: 5px solid #e2de49;
  margin-left: 13px;
  font-family: "Open Sans"; }
  @media screen and (max-width: 390px) {
    .e-crypta .status-block {
      margin-left: 0; } }
  .e-crypta .status-block .first-txt-status {
    color: #393939;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans";
    font-size: 16px; }
  .e-crypta .status-block .second-txt-status {
    font-family: "Open Sans";
    color: #393939;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600; }
    @media screen and (max-width: 390px) {
      .e-crypta .status-block .second-txt-status {
        font-size: 18px; } }
  .e-crypta .status-block .last-txt-status {
    color: #393939;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; }
    @media screen and (max-width: 390px) {
      .e-crypta .status-block .last-txt-status {
        font-size: 14px; } }
.e-crypta .application-number-txt {
  font-size: 16px;
  text-align: center;
  padding: 20px 0; }
.e-crypta .btn-send-green-status {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.17);
  background-color: #3bcd78;
  max-height: 50px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff; }
.e-crypta .application-number-txt span {
  color: #393939;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 400;
  font-weight: 700; }
.e-crypta .all-dot {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }
.e-crypta .star-side-bottom {
  padding: 30px 0; }
.e-crypta .star-side-top {
  padding-bottom: 30px; }
.e-crypta .link-txt-bt {
  padding: 30px 0; }
  .e-crypta .link-txt-bt p {
    color: #393939;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700; }
  .e-crypta .link-txt-bt .link-bt-left {
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans"; }
  .e-crypta .link-txt-bt a {
    color: #f7d51a;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline; }
.e-crypta .applic-txt-right {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  text-align: left; }
.e-crypta .applic-txt-right-other {
  color: #393939;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px; }
.e-crypta .issues-side-right-txt p {
  font-weight: 600; }
.e-crypta .button-operator-online {
  width: 75%;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 1152px) {
    .e-crypta .button-operator-online {
      max-width: 400px; } }
.e-crypta .right-side-app {
  padding-top: 75px; }
  @media screen and (max-width: 1152px) {
    .e-crypta .right-side-app {
      padding-top: 5px; } }
.e-crypta .status-block-confirm {
  background-color: #a1f3c3;
  border-left: 5px solid #3acc7c !important; }
.e-crypta .status-block-rejected {
  background-color: #efd6d1;
  border-left: 5px solid #ef3f3f !important; }
.e-crypta .btc-status {
  border-left: 5px solid #fcb036 !important;
  background-color: #f7ebac; }
.e-crypta .basic-contacts p {
  display: flex;
  align-items: center; }
.e-crypta .basic-contacts a {
  color: #393939; }
.e-crypta .basic-contacts span :first-child {
  margin-right: 0; }
.e-crypta .basic-contacts span :last-child {
  margin-left: 5px; }
.e-crypta .basic-contacts .fa-envelope,
.e-crypta .basic-contacts .fa-skype,
.e-crypta .basic-contacts .fa-telegram,
.e-crypta .basic-contacts .fa-viber {
  font-size: 30px;
  margin: 0 20px; }
@media screen and (max-width: 320px) {
  .e-crypta .basic-contacts .cont-number a {
    font-size: 22px; } }
@media screen and (max-width: 22px) {
  .e-crypta .basic-contacts .cont-number a svg {
    font-size: 22px; } }
.e-crypta .txt-feedback {
  height: 150px;
  padding-left: 15px;
  padding-top: 5px; }
.e-crypta .panel-body-txt {
  opacity: 0.8;
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left; }
.e-crypta .my-panel-title a {
  color: #393939;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 36px; }
.e-crypta .panel-body-txt {
  border-left: 5px solid #eaeaea; }
.e-crypta .my-panel-default {
  border: none; }
  .e-crypta .my-panel-default .panel-heading {
    background: #fff;
    text-align: left;
    padding-left: 0; }
    .e-crypta .my-panel-default .panel-heading i {
      font-size: 10px;
      padding-left: 3px; }
.e-crypta .txt-answer-faq {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  padding-left: 20px; }
.e-crypta .issues-side-right-txt {
  color: #393939;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400; }
.e-crypta .time-txt-top :first-child {
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400; }
.e-crypta .time-txt-top :last-child {
  color: #393939;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 28px; }
.e-crypta .all-txt-sup-top {
  padding-top: 25px; }
.e-crypta .contacts-right-side-app {
  padding-top: 50px; }
.e-crypta .cont-number {
  color: #393939;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400; }
  @media screen and (max-width: 425px) {
    .e-crypta .cont-number {
      display: flex;
      flex-direction: column; } }
  @media screen and (max-width: 425px) {
    .e-crypta .cont-number a {
      margin: 10px 0; } }
.e-crypta .my-link-bt-left {
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding-top: 35px; }
.e-crypta .personal-area a:hover {
  color: #f8d33e;
  text-decoration: none; }
.e-crypta .personal-area a .fa-user {
  margin-left: 10px; }
.e-crypta .add-new-user-top a span,
.e-crypta .enter-site-top a span {
  margin-left: 5px;
  margin-right: 10px; }
.e-crypta .add-new-user-top a:hover,
.e-crypta .enter-site-top a:hover {
  color: #f8d33e;
  text-decoration: none; }
.e-crypta .contacts-right-side-app .panel {
  padding-left: 15px; }
.e-crypta .my-price-table thead tr th {
  line-height: 60px; }
  .e-crypta .my-price-table thead tr th:first-child {
    line-height: 60px;
    border-right: 1px solid #f7d51a !important;
    border-color: #f7d51a !important; }
  @media screen and (max-width: 480px) {
    .e-crypta .my-price-table thead tr th {
      font-size: 14px; } }
@media screen and (max-width: 480px) {
  .e-crypta .my-price-table thead tr {
    font-size: 14px; } }
@media screen and (max-width: 480px) {
  .e-crypta .my-price-table thead tr td {
    font-size: 14px; } }
@media screen and (max-width: 480px) {
  .e-crypta .my-price-table thead {
    font-size: 14px; } }
.e-crypta .after-child-yellow {
  text-align: center;
  border-right: 1px solid #f9eeb4 !important;
  border-color: #f9eeb4 !important; }
.e-crypta .txt-table-top {
  color: #3bcd78 !important;
  font-family: "Open Sans";
  font-size: 21px !important;
  font-weight: 700 !important; }
.e-crypta .top-container-side-left {
  width: 440px;
  margin-top: 25px; }
.e-crypta .txt-up-table-discounts {
  color: #393939 !important;
  font-family: "Open Sans";
  font-size: 14px !important;
  font-weight: 400 !important; }
.e-crypta .txt-answer-table {
  text-align: center; }
.e-crypta .txt-right-info-table {
  margin-bottom: 0 !important; }
.e-crypta .amo-discount-txt {
  color: #d3d3d3;
  font-size: 11px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400;
  margin-top: 5px;
  padding: 0; }
.e-crypta .txt-bt-answer {
  margin-top: 20px; }
.e-crypta .txt-faq-bt {
  padding: 0 !important !important;
  margin: 20px 0 25px; }
.e-crypta .all-discount-txt-bt {
  max-width: 440px;
  margin: 0 auto; }
.e-crypta .all-nav-btn {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1100px) {
    .e-crypta .all-nav-btn {
      width: 100%; } }
  @media screen and (max-width: 860px) {
    .e-crypta .all-nav-btn {
      display: flex;
      flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .e-crypta .all-nav-btn {
      width: 100%;
      display: block; } }
.e-crypta .green-privacy-txt {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  margin-top: 0; }
.e-crypta .left-side-privacy {
  padding: 4% 5% 4% 5%; }
  @media screen and (max-width: 1152px) {
    .e-crypta .left-side-privacy {
      padding: 4% 5% 0% 5%; } }
  @media screen and (max-width: 415px) {
    .e-crypta .left-side-privacy {
      width: 100%; } }
.e-crypta .right-txt-privacy {
  text-align: left;
  padding: 7% 5% 7% 5%; }
  @media screen and (max-width: 1152px) {
    .e-crypta .right-txt-privacy {
      padding: 0% 5% 3% 5%; } }
.e-crypta .all-paragraph-txt b {
  padding: 10px 0; }
.e-crypta .right-side-privacy {
  margin-top: 0;
  padding-top: 0; }

.e-crypta .navbar-default {
  margin-bottom: 0;
  padding: 10px 0; }

.e-crypta .all-cost-number a.active {
  color: #d1d8d8;
  border: 2px solid #d1d8d8; }

.container-content .left-side .green-privacy-txt {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
