@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
header {
  background: #ccc; }
  header .navbar-default {
    border: none; }
  header h1 {
    font-size: 32px; }

.head-container {
  margin-top: 7px !important;
  width: 1100px;
  margin: 0 auto; }
  @media screen and (max-width: 1100px) {
    .head-container {
      width: 100%; } }

.brand-name-last {
  color: #393939 !important;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -4.17px; }

.brand-name-first {
  color: #3bcd78 !important;
  letter-spacing: -3.4px;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase; }

.brand-name-second {
  color: #565757;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  padding-left: 1px;
  padding-top: 1px; }

.my-bar-nav {
  margin-bottom: 10px; }

.brand-name-com {
  color: #f7d51a;
  font-family: "Open Sans";
  font-size: 44px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -3.4px; }

.my-nav-link {
  margin-right: 0 !important; }
  .my-nav-link a {
    color: #393939;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase; }

.all-bg {
  background: #dee7f3;
  padding: 25px 0 50px; }

.button-operator-top {
  color: #333;
  background-color: #fff;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 31px;
  border: 3px solid #f7d51a; }
  .button-operator-top:hover {
    background: #f7d51a !important;
    border: 3px solid #f7d51a !important; }
  .button-operator-top span {
    color: #393939;
    font-size: 16px;
    font-weight: 700; }
  .button-operator-top i, .button-operator-top svg, .button-operator-top img {
    color: #393939;
    font-size: 24px !important;
    margin-left: 5%; }

.button-operator-bt {
  color: #333;
  background-color: #fff;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 31px;
  border: 3px solid #f7d51a; }
  .button-operator-bt:hover {
    background: #f7d51a !important;
    border: 3px solid #f7d51a !important; }
  .button-operator-bt span {
    color: #393939;
    font-size: 16px;
    font-weight: 700; }
  .button-operator-bt i, .button-operator-bt svg, .button-operator-bt img {
    color: #393939;
    font-size: 24px !important;
    margin-left: 5%; }

.head-container .collapse-container-top {
  display: flex !important;
  justify-content: space-between;
  align-items: center; }
  .head-container .collapse-container-top a {
    color: #393939 !important; }

.my-price-table {
  margin-bottom: 0; }
  .my-price-table thead tr th {
    border: none;
    text-align: center;
    color: #393939;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700; }
  .my-price-table tbody tr td {
    border-color: #f7d51a !important;
    color: #393939;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: uppercase; }
    .my-price-table tbody tr td span {
      color: #f7d51a; }
  .my-price-table tbody .tb-first-child {
    border-right: 1px solid #f7d51a; }
  .my-price-table .tb-last-child {
    border-left: 1px solid #f7d51a; }

.first-td-bt-table {
  border-left: none !important; }

.btn-support-start {
  text-align: center;
  display: flex;
  justify-content: center; }

.head-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1130px) {
    .head-container {
      padding: 0 5%; } }
  @media screen and (max-width: 767px) {
    .head-container {
      flex-direction: column; } }

.container-logo {
  display: flex;
  flex-direction: column; }

.litle-txt-logo {
  text-align: left; }
  .litle-txt-logo p {
    padding: 0;
    margin: 0;
    color: #565757;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400; }

.container-content {
  background: #000;
  box-shadow: 0 0 24px rgba(0, 102, 255, 0.26);
  background-color: #ffffff;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  @media screen and (max-width: 1152px) {
    .container-content {
      width: 100%;
      flex-direction: column; } }
  .container-content h2 {
    color: #393939;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 27px;
    text-align: center; }

.left-side {
  width: 50%;
  position: relative;
  padding-top: 25px; }
  @media screen and (max-width: 1152px) {
    .left-side {
      width: 100%; } }
  @media screen and (max-width: 415px) {
    .left-side {
      padding: 0 5%; } }

.right-side {
  width: 50%;
  text-align: center;
  padding-top: 25px; }
  @media screen and (max-width: 1152px) {
    .right-side {
      width: 100%; } }

.nol-txt {
  color: #3bcd78 !important; }

.bit-txt {
  color: #fbb314 !important; }

.city-txt {
  font-size: 18px; }

.container-side-left {
  width: 405px;
  margin: 0 auto; }
  @media screen and (max-width: 405px) {
    .container-side-left {
      width: 100%; } }

.all-cost :first-child {
  margin-left: 0; }
.all-cost :last-child {
  margin-right: 0; }

.grn-cost {
  padding: 2px 10px; }
  .grn-cost a {
    color: #565757;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none; }

.btc-cost {
  padding: 1px 12px 4px 12px;
  margin-right: 0 !important; }
  .btc-cost a {
    color: #565757;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none; }

.side-band {
  background-color: #f6f6f6;
  height: auto;
  width: 4px; }

.txt-next-operator {
  padding-bottom: 30px; }
  .txt-next-operator p {
    padding: 20px 0;
    color: #d3d3d3;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400; }
    .txt-next-operator p a {
      color: #d3d3d3;
      text-decoration: underline; }
      .txt-next-operator p a:hover {
        color: #f7d51a;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 400;
        text-decoration: underline; }

.my-dropdown-menu-right {
  width: 250px; }

.my-wide-dropdown-menu-right {
  width: 405px;
  border-radius: 0;
  border: 2px solid #393939;
  margin-right: -5px; }

.all-speed-enlistment {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .all-speed-enlistment .input-group {
    position: relative; }
  .all-speed-enlistment .input-group-btn {
    position: initial; }
  @media screen and (max-width: 415px) {
    .all-speed-enlistment {
      flex-direction: column-reverse; } }
  .all-speed-enlistment .input-group {
    border-radius: 0;
    width: 250px;
    height: 52px;
    border: 2px solid #ebebeb;
    opacity: 0.8;
    z-index: 9999; }
    @media screen and (max-width: 415px) {
      .all-speed-enlistment .input-group {
        width: 100%; } }
    .all-speed-enlistment .input-group input {
      height: 100%;
      border: none; }
    .all-speed-enlistment .input-group .input-group-btn button {
      height: 100%;
      border: none; }
    @media screen and (max-width: 250px) {
      .all-speed-enlistment .input-group {
        width: 100%; } }

.speed-transfer {
  justify-content: flex-start !important; }

.speed-enlistment-bt .input-group {
  width: 400px; }

.active-one-select-side {
  border: 2px solid #393939; }

.active-two-select-side {
  border: 2px solid #ebebeb;
  opacity: 0.8; }

.my-btp-select button {
  width: 250px !important;
  border-radius: 0;
  height: 52px;
  border: 2px solid #ececec; }
  .my-btp-select button:active {
    border: 2px solid #393939; }
  .my-btp-select button:focus {
    border: 2px solid #393939; }
.my-btp-select .dropdown-menu {
  width: 250px !important;
  border-radius: 0; }

.my-city-select button {
  width: 400px !important;
  border-radius: 0;
  height: 52px;
  border: 2px solid #ececec; }
.my-city-select .dropdown-menu {
  width: 400px !important;
  border-radius: 0; }

.my-dropdown-toggle {
  min-width: 50px; }

.requisites-txt-left {
  color: #393939;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400; }

.txt-info-btc {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 25px; }

.min-coin-info, .reserve-coin-info {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }

.cost-label {
  color: #393939;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 5px; }

.gr-txt-cost-info {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }

.euro-cost {
  padding: 2px 12px !important; }

.usd-cost {
  padding: 2px 13px !important; }

.all-cost-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 415px) {
    .all-cost-number {
      flex-direction: column-reverse; } }
  .all-cost-number a:hover {
    text-decoration: none; }
  .all-cost-number span {
    color: #565757;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 400;
    border: 2px solid #565757;
    border-radius: 30px;
    min-width: 40px;
    text-align: center;
    margin: 0 5px;
    margin-left: 15px; }
    .all-cost-number span:hover {
      border: 2px solid #d1d8d8; }

.my-number-cost {
  border-radius: 0;
  width: 250px;
  height: 52px;
  border: 2px solid #ebebeb;
  opacity: 0.8; }
  .my-number-cost:focus {
    box-shadow: 0 0 16px 3px rgba(247, 213, 26, 0.31);
    border: 2px solid #393939; }
  @media screen and (max-width: 415px) {
    .my-number-cost {
      margin-top: 15px;
      width: 100%;
      max-width: 100% !important; } }

.bt-inputs-left {
  margin-bottom: 5%;
  width: 400px; }

.next-btn-txt {
  color: #d3d3d3;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400; }

.txt-btn-nxt {
  font-size: 13px;
  font-weight: 700;
  color: #d3d3d3; }

.btn-next-left-side {
  height: 65px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
  background-color: #3bcd78;
  width: 100%;
  border-radius: 0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }
  .btn-next-left-side:hover {
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    background-color: rgba(0, 0, 0, 0.1);
    background-color: #3bcd78;
    color: #fff; }
  @media screen and (max-width: 415px) {
    .btn-next-left-side {
      width: 90%; } }

.top-txt-info-side {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .top-txt-info-side p {
    color: #393939;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700; }

.all-txt-right-info {
  border: 1px solid #f7d51a;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%; }

.left-info-currency {
  text-align: left; }
  .left-info-currency p {
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }

.txt-info-terms-use {
  margin: 0 auto;
  text-align: left; }

.one-txt-exchanger, .two-txt-exchanger, .three-txt-exchanger, .four-txt-exchanger {
  display: flex;
  flex-direction: row;
  padding: 1% 5%;
  line-height: 24px;
  max-width: 560px;
  margin: 0 auto; }
  @media screen and (max-width: 450px) {
    .one-txt-exchanger, .two-txt-exchanger, .three-txt-exchanger, .four-txt-exchanger {
      padding: 3% 2%; } }
  .one-txt-exchanger p, .two-txt-exchanger p, .three-txt-exchanger p, .four-txt-exchanger p {
    font-size: 14px;
    font-weight: 700;
    margin: 0; }
  .one-txt-exchanger span, .two-txt-exchanger span, .three-txt-exchanger span, .four-txt-exchanger span {
    padding-right: 5%; }

.right-info-currency {
  text-align: left; }
  .right-info-currency p {
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }

.currency-type-txt {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f7d51a; }

@media screen and (max-width: 415px) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0; }
.all-select-btp {
  display: flex;
  justify-content: flex-start; }

.transfer-btn-all {
  background: url(../img/transfer-black.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 40px;
  margin-top: 3px; }
  .transfer-btn-all:hover {
    background: url(../img/transfer-last.png) no-repeat; }

.transfer-btn-first {
  position: absolute;
  z-index: 10;
  top: 5%;
  width: 50px;
  height: 50px;
  background: url(../img/transfer-black.png) no-repeat; }
  .transfer-btn-first:hover {
    background: url(../img/transfer-last.png) no-repeat; }

.transfer-btn-last {
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 50px;
  height: 50px; }

@media screen and (max-width: 767px) {
  .all-footer-social {
    margin-bottom: 20px; } }

.terms-use-txt {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 5%;
  padding-left: 5%;
  text-align: left; }
  @media screen and (max-width: 1152px) {
    .terms-use-txt {
      padding-left: 0;
      text-align: center; } }

.gr-txt-info-btc {
  color: #3bcd78;
  font-size: 12px;
  font-weight: 400; }

.first-left-txt {
  margin: 2% 0; }

.second-left-txt {
  margin: 2% 0; }

.one-btn-txt-info, .two-btn-txt-info, .three-btn-txt-info, .four-btn-txt-info {
  padding-right: 10%; }

.bt-cost-bumber {
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start !important; }

.all-txt-info-btc {
  display: flex;
  flex-direction: row; }
  .all-txt-info-btc p {
    font-size: 12px;
    font-weight: 400;
    color: #393939; }

.all-currency-side {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8%; }

.footer-container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  @media screen and (max-width: 1100px) {
    .footer-container {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .footer-container {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 30px 0;
      justify-content: center; } }

.my-top-bar {
  margin-top: -10px; }
  .my-top-bar a {
    display: flex;
    flex-direction: row; }
    .my-top-bar a:hover {
      text-decoration: none; }
    .my-top-bar a:focus {
      text-decoration: none !important; }
  .my-top-bar h1 {
    margin-bottom: 0; }

.issues-side-right h4 {
  color: #3bcd78;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 700;
  padding-top: 60px; }
  @media screen and (max-width: 1152px) {
    .issues-side-right h4 {
      padding-top: 30px; } }
.issues-side-right p {
  color: #393939;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  padding: 25px 0; }
  .issues-side-right p a {
    color: #f7d51a;
    font-size: 18px;
    font-weight: 700; }
    .issues-side-right p a:hover {
      color: #393939; }

.all-btn-inp input {
  max-width: 250px; }

.mail-footer {
  color: #393939;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400; }
  @media screen and (max-width: 767px) {
    .mail-footer {
      text-align: center; } }

.footer-rates, .footer-regulations {
  color: #393939;
  font-size: 12px;
  font-weight: 800; }
  .footer-rates a, .footer-regulations a {
    color: #393939;
    font-size: 12px;
    font-weight: 800; }
    .footer-rates a:hover, .footer-regulations a:hover {
      color: #f7d51a;
      font-size: 12px;
      font-weight: 800;
      text-decoration: none; }

.txt-footer-social {
  color: #393939;
  font-size: 12px;
  font-weight: 700; }

.all-icon-social-footer {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .all-icon-social-footer a {
    color: #393939;
    font-size: 18px;
    font-weight: 400; }
    .all-icon-social-footer a:hover {
      background: #f7d51a; }

.bd-social-footer-one {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 10px 10px;
  margin: 0px 5px;
  display: flex;
  align-items: center; }

.all-info-txt-btc {
  padding-bottom: 20px; }
  .all-info-txt-btc .min-sum-info {
    font-size: 12px;
    color: #393939;
    font-weight: 400;
    line-height: 16px; }

.bd-social-footer-two {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 10px 14px;
  min-width: 30px;
  margin: 0px 5px;
  display: flex;
  align-items: center; }

.bd-social-footer-three {
  border: 2px solid #f7d51a;
  border-radius: 30px;
  padding: 8px 8px;
  margin: 0px 5px;
  display: flex;
  align-items: center; }

.all-info-txt-btc {
  display: flex;
  flex-direction: row; }
  .all-info-txt-btc .min-max-info-btc {
    width: 40%; }

/*# sourceMappingURL=style.css.map */
